<h1>Forgot 2FA</h1>

<p>Please contact us via the <a href="/contact">Contact Page</a>. There is no automated recovery process right now.</p>
<p>You will need to have an email on your account so that we can verify that you are the original owner.</p>
