{{#each addresses}}
    <tr data-address="{{@key}}">
        <td>{{@key}} {{colortag @key}}</td>
        <td>0</td>
        <td>
            <button class="btn btn-success viewkey-btn">View Private Key</button>
            <button class="btn btn-secondary signkey-btn">Sign</button>
            <button class="btn btn-secondary qr-btn">QR</button>
        </td>
        <td><button class="btn btn-danger deleteaddr-btn">Delete</button></td>
    </tr>
{{/each}}