<h1>Contact</h1>

<p>For assistance contact Someguy123 directly via various methods:</p>
<div class="well">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Twitter</h3>
        </div>
        <div class="panel-body">
            <a href="https://twitter.com/compgenius999">https://twitter.com/compgenius999</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Email</h3>
        </div>
        <div class="panel-body">
            info+litevault@someguy123.com
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Litecointalk</h3>
        </div>
        <div class="panel-body">
            <a href="https://litecointalk.org/index.php?topic=24092">https://litecointalk.org/index.php?topic=24092</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">IRC</h3>
        </div>
        <div class="panel-body">
            Username: Someguy123 <br/>
            Network: irc.freenode.net
        </div>
    </div>
</div>
