
<div class="main_header single">
    <h1>Contact</h1>
</div>
<br><br>
<div class="container">
    <div class="row">
        <a href="https://twitter.com/compgenius999" target="_blank">
            <div class="col-sm-12 col-md-6 contact_box">
                <h2><img src="/assets/images/twitter-icon.png" class="center-block"></h2>
                <h3>@compgenius999</h3>
            </div>
        </a>
        <a href="https://litecointalk.org/index.php?topic=24092" target="_blank">
            <div class="col-sm-12 col-md-6 contact_box">
                <h2><img src="/assets/images/litecoin-blue-icon.png" class="center-block"></h2>
                <h3>Litecoin Talk</h3>
            </div>
        </a>
    </div>
    <br>
    <div class="row">
        <a href="mailto:info+litevault@someguy123.com">
            <div class="col-sm-12 col-md-6 contact_box">
                <h2><img src="/assets/images/email-icon.png" class="center-block"></h2>
                <h3>info+litevault@someguy123.com</h3>
            </div>
        </a>
        <a href="irc://freenode.net/#litecoin">
            <div class="col-sm-12 col-md-6 text-center contact_box">
                <h2 style="font-weight: 400;">IRC</h2>
                <h3>USERNAME:  SOMEGUY123<br>
                    NETWORK:    IRC.FREENODE.NET</h3>
            </div>
        </a>

    </div>
</div>
