<div id="slide_1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">

                <!-- Header -->
                <div class="slide_header">
                    <h1 class="text-center">Welcome to LiteVault</h1>
                    <h3 class="text-center">the trustless online wallet for Litecoin</h3>
                </div>

                <!-- Login/signup -->
                <br><br>
                <div class="row">
                    <div class="col-md-2 col-md-offset-3 col-xs-6"><a href="/wallet/login" class="btn btn-primary form-control">Login</a></div>
                    <div class="col-md-2 col-md-offset-2 col-xs-6"><a href="/wallet/create" class="btn btn-white form-control">Register</a></div>
                </div>

                <!-- Info boxes -->
                <br><br>
                <br><br>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="row info_box">
                            <div class="col-xs-2"><img src="/assets/images/lock-icon.png" class="stretch-to-col"></div>
                            <div class="col-xs-10">
                                <h3>Secure</h3>
                                <p>
                                    Your wallet is encrypted before it touches our servers.
                                    Unlike other Litecoin wallet services, we NEVER see your private keys, and are unable to access your funds.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="row info_box">
                            <div class="col-xs-2 col-xs-3"><img src="/assets/images/time-icon.png" class="stretch-to-col"></div>
                            <div class="col-xs-10">
                                <h3>Fast</h3>
                                <p>
                                    No blockchain download needed, <a href="/wallet">sign up for an account</a> in less than 10 seconds
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="row info_box">
                            <div class="col-xs-2"><img src="/assets/images/open-icon.png" class="stretch-to-col"></div>
                            <div class="col-xs-10">
                                <h3>Open</h3>
                                <p>
                                    We love Open Source software as much as you do, which is why we have
                                    all of our source code publicly available for you to investigate <a href="https://github.com/someguy123/litevault">on GitHub</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="row info_box">
                            <div class="col-xs-2"><img src="/assets/images/easy-icon.png" class="stretch-to-col"></div>
                            <div class="col-xs-10">
                                <h3>Easy</h3>
                                <p>
                                    LiteVault is extremely easy to use, send and receive litecoins without downloading any software
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End info boxes -->
        </div>
    </div>
    <br><br>
    <br><br>
</div>
<!-- End slide_1 -->

<!-- Start slide_2 -->
<div id="slide_2">
    <div class="container">

        <!-- Header -->
        <div class="slide_header">
            <h1 class="text-center">What is Litecoin?</h1>
        </div>

        <!-- Youtube -->
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center youtube-embed-sucks">
                    <iframe src="https://www.youtube.com/embed/q7B7S88RtV8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<div id="slide_3">
    <div class="container">
        <div class="row">

            <!-- Header -->
            <div class="slide_header">
                <h1 class="text-center">FAQ</h1>
            </div>

            <!-- Info boxes (type 2) -->
            <div class="row index_faq">
                <div class="col-sm-5 col-sm-offset-1 info_box">
                    <h3>What is LiteVault?</h3>
                    <p>
                        Litevault is an online wallet service which uses in-browser cryptography to reduce the risk of the coin
                        operator running with the funds. This same system is used by Blockchain.info - a well known online
                        Bitcoin wallet (UNAFFILIATED WITH LITEVAULT).
                    </p>
                </div>
                <div class="col-sm-5 info_box">
                    <h3>How does it work?</h3>
                    <p>
                        When you login to LiteVault, your browser sends your identifier to our server,
                        we return an encrypted version of your wallet with the AES algorithm,
                        your browser then decrypts this using your password (which is never sent to the server)
                        to load your private keys used to sign transactions.
                    </p>
                </div>
            </div>
            <div class="row index_faq">
                <div class="col-sm-5 col-sm-offset-1 info_box">
                    <h3>Who made LiteVault?</h3>
                    <p>
                        Litevault was made by <a href="http://someguy123.com">Someguy123</a>:<br />
                        "I am a trusted website developer within the Litecoin community responsible for various services including the <a href="http://explorer.litecoin.net">Litecoin Block Explorer</a>, and administrating various official Litecoin resources such as the <a href="https://litecoin.info">Wiki</a> and IRC.
                        <br/><br/>I feel Litecoin hasn’t had enough backing or support, so this is my contribution."
                    </p>
                </div>
                <div class="col-sm-5 info_box">
                    <h3>What technology was used?</h3>
                    <p>
                        The backend was built in Node.JS, For the frontend Bootstrap was used (and completely re-styled) for the HTML and CSS to ensure a good, responsive layout was possible,
                        allowing the website to work well on mobiles, tablets and computers.
                    </p>
                </div>
            </div>
        </div>
        <!-- End info boxes -->
    </div>
    <br><br><br>
</div>
<!--
SOCIAL SLIDE
<div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://twitter.com/someguy123" target="_blank">
            <i class="fa fa-twitter fa-5x"></i>
            <h3>Litevault on Twitter</h3>
        </a>

    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://litecointalk.org/index.php?topic=24092" target="_blank">
            <i class="fa fa-comments fa-5x"></i>
            <h3>Litecointalk Thread</h3>
        </a>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <a href="http://www.reddit.com/r/litecoin/comments/2r6dbf/its_finally_here_litevault_a_trustless_wallet/" target="_blank">
            <i class="fa fa-reddit fa-5x"></i>
            <h3>Reddit Thread</h3>
        </a>
    </div>
</div>
-->
