body {
    padding-top: 50px;
}
pre {
    /* Pre tag wasn't respecting top padding */
    margin: 1em;
}
.progress {
    margin-top: 15px;
    margin-bottom: 5px;
}
.password-verdict {
    margin-bottom: 5px;
}

html {
    position: relative;
    min-height: 100%;
}
#alerts-section>.alert {
    margin-bottom: 5px;
}


.youtube-embed-sucks {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-embed-sucks iframe,
.youtube-embed-sucks object,
.youtube-embed-sucks embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lvlogo {
    width: 40%;
}

@media (max-width: 900px) {
    .lvlogo {
        width: 60%;
    }
}

.colortag {
    width:30px;
    height:10px;
    margin-top: 9px;
    float:right;
}
.colortag>div {
    height: 100%;
    width:33%;
    float: left;
}