<ul class="nav nav-pills">
    <li role="presentation" {{checkActive '/about' current_url}}><a href="/about">About Litevault</a></li>
    <li role="presentation" {{checkActive '/about/hidden-service' current_url}}><a href="/about/hidden-service">Tor Hidden Service</a></li>
</ul>